@font-face {
    font-family: 'Montserrat';
    src: url("../font/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "PTmono";
    src: url("../font/PTMono-Regular.ttf");
}

:root{
    --font-type_deco: 'PTmono';
    --font-type_txt: 'Montserrat';
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    position: relative;
    background-color: #000;
}

header{
    position: absolute;
    width: 100%;
    min-width: max-content;
    height: max-content;
    top: 0;
    padding: 10px 10px;
    z-index: 500;
    overflow: hidden;
    white-space: nowrap;
    
    transition-property: all;
    transition: 1s ease;
}

header h2{
    font-size: calc(3vmin + 0.2em);
    color: #fff;
    text-align: center;
    font-family: var(--font-type_deco);
    letter-spacing: 0.4em;
    font-weight: 100;
}

.infoLayer{
    width: 100vw;
    height: 100vh;
    z-index: 200;
    top: 0;
    position: absolute;
    width: 100%;
    font-family: var(--font-type_deco);
    color: #fff;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.infoLayer h1{
    font-size: calc(10vmin + 1.9em);
    /* margin-bottom: 20vh; */
    margin: 0;
    padding-top: 5%;
    text-align: center;
    font-weight: 600;
}
.downloadCV{
    text-decoration: none;
    position: relative;
    font-size: calc(1vmin + 0.7em);
    border-radius: 5px;
    font-family: var(--font-type_deco);
    height: 3.3em;
    width: 15em;
    /* padding: 1em 3em; */
    color: #fff;
    background-color: transparent;
    border: solid 2px #fff;
    transition: .5s ease;
    transition-property: background-color box-shadow;
    cursor: pointer;
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.downloadCV p{
    margin: 0;
}

.downloadCV svg{
    position: relative;
    fill: #fff;
}

.downloadCV:hover{
    /* background-color: #ff06; */
    box-shadow: 0 0px 10px 0px white;
}

main{
    position: relative;
    height: 105vh;
    min-height: 650px;
    width: 100%;
    max-width: 210vh;
    background-color: black;
    margin: auto;
    overflow: hidden;
}
.Layers{
    perspective: 100px;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    padding-top: calc((-1.25 * 100vh) + 850px);
    /* padding-top: 5%; */
    /* padding-top: calc((-1.20 * 100%) + 850px); */
}
.landscape{
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, #000, #230351 15%, #3e0581 50%, #050335 90%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* filter: brightness(.7); */
}
.landscape li{
    display: flex;
    justify-content: center;
}
.landscape img{
    height: 100%;
    width: 100%;
    min-width: 1200px;
    object-fit: contain;
    object-position: center bottom;
    transition-property: transform;
    transition-duration: 0.02s;
    transition-timing-function: linear;
}

.trees{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    user-select: none;
}
.trees img{
    position: absolute;
    min-width: 1000px;
    height: 100%;
    width: 100%;
}

.first{
    bottom: -1px;
}

.mount1{
    left: 0;  
}

.mount2{
    right: 0;
}

.mount3{
    left: 0;
}

.mountain{
    position: absolute;
    width: 100%;
    height: 100%;
}
.mountain img{
    user-select: none;
    position: absolute;
    width: 100%;
}
.mount4 img{
    height: auto;
    object-fit: cover;
}

.Layers{
    z-index: 100;
}

/* Objects below the landscape */
.description{
    position: relative;
    background-color: #050335;
    background-color: #000;
    width: 100%;
    padding-top: 10%;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;

    overflow: hidden;
}
.description::before{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom, #000, transparent);
}

/* About me Section */
.about{
    margin: 80px auto;
    width: 85%;
    position: relative;
    /* padding-top: 9%; */
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.about__text{
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.about__text ul{
    margin: 0;
}

.about__text li{
    color: #fff;
}

.description h2{
    color: rgba(255, 255, 255, .4);
    font-size: 38pt;
    font-family: var(--font-type_txt);
    line-height: 1em;
}
.about__text p{
    color: #ddd;
    font-weight: 300;
    font-family: var(--font-type_txt);
    text-align: justify;
    font-size: 13pt;
}

.about__text span{
    font-weight: 700;
}

.about__img{
    position: relative;
    height: 100%;
    width: 40%;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.about__img-back{
    width: 70%;
    height: 100%;
}



/* My projects section */
.projects{
    position: relative;
    margin: 200px 0 100px 0;
    text-align: center;
}

.projects > h2{
    position: relative;
    margin-bottom: 2em;
}

.backLogo{
    z-index: 0;
    position: absolute;
    width: 110vmin;
    right: 0;
    top: 0;
    opacity: .2;
    translate: 35% -10%;
}

.slider__next{
    position: absolute;
    right: 0;
    fill: #fff;
    height: 100%;
    width: 70px;
    z-index: 200;

    pointer-events: none;
    display: flex;
    align-items: center;
}

.slider__next svg{
    pointer-events:visible;
}

.slide{
    z-index: 0;
    overflow: hidden;
    background-color: #7c7c7c11;
    backdrop-filter: blur(3px);

    display: flex;
}
.slider .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 1px #fff4;
    pointer-events: none;
    z-index: 9000;
    transition: box-shadow 1s linear;
}

#input1:checked~#slide1::before,
#input2:checked~#slide2::before,
#input3:checked~#slide3::before,
#input4:checked~#slide4::before,
#input5:checked~#slide5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 1px 1px 5px #fff4;
    pointer-events: none;
    z-index: 9000;
}

.slide h2 {
    margin: 0;
    position: relative;
    font-weight: 400;
    z-index: 100;
    font-size: 18pt;
    font-family: var(--font-type_txt);
    color: #fff;
}

.collapsed__card, .description__card{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.collapsed__card{
    width: 300px;
    flex-shrink: 0;
}

.collapsed__card > img{
    filter: brightness(1);
    width: 100%;
    height: 45%;
}
.collapsed__card-tech ul, .collapsed__card-sources ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 5px;
}
.collapsed__card-tech li{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #7c7c7c44;
    width: 100px;
    height: 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.collapsed__card-tech img{
    height: 100%;
    width: auto;

}
.collapsed__card-tech p{
    text-transform: uppercase;
    color: #fff;
    font-family: var(--font-type_txt);
    flex-grow: 1;
    margin: 0;
}

.collapsed__card-sources ul{
    justify-content: start;
}
.collapsed__card-sources li{
    border-radius: 50%;
    background-color: #7c7c7c55;
    height: 50px;
    width: 50px;
    margin: 0 0 20px 30px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}
.collapsed__card-sources img{
    height: 70%;
    width: 70%;
    border-radius: 100%;
}

.description__card{
    position: relative;
    flex-shrink:1;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}