[name="radio-btn"]{
    display: none;
}

.slider{
    height: 65vh;
    position: relative;
    perspective: 0;
    transform-style: flat;
    overflow: none;
}
.slider .slide {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    transition: 
        transform .4s .3s linear, 
        width .4s linear, 
        opacity .1s .6s,
        box-shadow 1s linear;
}

.slide label{
    cursor: pointer;
    z-index: 150;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#input1:checked~#slide1 label,
#input2:checked~#slide2 label,
#input3:checked~#slide3 label,
#input4:checked~#slide4 label,
#input5:checked~#slide5 label {
    display: none;
}

/* Left to Right */
#input1:checked~#slide4,
#input2:checked~#slide5,
#input3:checked~#slide1,
#input4:checked~#slide2,
#input5:checked~#slide3 {
    transform: translate(-100vw, 0);
    z-index: 0;
    opacity: 0;
}

#input1:checked~#slide5,
#input2:checked~#slide1,
#input3:checked~#slide2,
#input4:checked~#slide3,
#input5:checked~#slide4 {
    /* transform: translate(-200%, 0); */
    transform: translate(calc(-50vw + 50%), 0) scale(.8);
    z-index: 50;
}

/* Center Item */
#input1:checked~#slide1,
#input2:checked~#slide2,
#input3:checked~#slide3,
#input4:checked~#slide4,
#input5:checked~#slide5 {
    z-index: 100;
    transform: translate(0, 0);
    box-shadow: 2px 2px 20px #fff3;
    /* box-shadow: 0 0px 10px 0px white; */
}


#input1:checked~#slide2,
#input2:checked~#slide3,
#input3:checked~#slide4,
#input4:checked~#slide5,
#input5:checked~#slide1 {
    transform: translate(calc(50vw - 50%), 0) scale(.8);
    z-index: 50;
}


#input1:checked~#slide3,
#input2:checked~#slide4,
#input3:checked~#slide5,
#input4:checked~#slide1,
#input5:checked~#slide2 {
    transform: translate(100vw, 0);
    z-index: 0;
    opacity: 0;
}

#input1:checked~#slide1,
#input2:checked~#slide2,
#input3:checked~#slide3,
#input4:checked~#slide4,
#input5:checked~#slide5 {
    animation-name: expand;
    animation-duration: 0.4s;
    animation-delay: .6s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, .28, 0, .38);
}

.collapsed {
    animation-name: collapse;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(1, .67, 1, .6);
}

/* TO MAKE THE SLIDE SCALABLE */
/* .slide__radio-btn:nth-of-type(1){
    display: none;
} */

@keyframes collapse {
    from {
        width: 770px;
    }

    to {
        width: 0%;
    }
}

@keyframes expand {
    from {
        width: 0%;
    }

    to {
        width: 770px;
    }
}

@media (max-width: 950px) {
    #input1:checked~#slide5,
    #input2:checked~#slide1,
    #input3:checked~#slide2,
    #input4:checked~#slide3,
    #input5:checked~#slide4 {
        /* transform: translate(-200%, 0); */
        transform: translate(calc(-50vw - 50%), 0) scale(.8);
        z-index: 50;
    }

    #input1:checked~#slide2,
    #input2:checked~#slide3,
    #input3:checked~#slide4,
    #input4:checked~#slide5,
    #input5:checked~#slide1 {
        transform: translate(calc(50vw + 50%), 0) scale(.8);
        z-index: 50;
    }
}